body {
    border-left: green;
    border-left: 150px;
}
h1 { 
    text-align: center;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    color: green;
    text-align: center;
    font-family: monospace;
}
h3 {
    color: green;
    text-align: center;
}
h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
}
#img1 {
    align-items: baseline;
    height: 100px;
}
nav {
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: green;
}
p {
    text-align: center;
}
#teste {
    text-align: center;
    color: white;
    background-color: green;
}
.icon img {
    height: 70px;
    width: 70px;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px 50px;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra-lateral {

}